In [12]:
# Imports
# # Data types and classes
from pandas import DataFrame, Series, Index
from numpy import ndarray, floating, uint16
# #
import pandas as pd
from IPython.display import display
from sklearn.preprocessing import MinMaxScaler
# #
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
# # Decision Tree for comparison
from sklearn.tree import DecisionTreeClassifier
from IPython.display import Image
# # If any figures change, set to true
gen_new_plot: bool = False

In [13]:
mpg_weight: float = 7.0

# use mpg_col_name to rename the columns after adjusting the "mpg scaled" feature
mpg_col_name: str = "mpg scaled * " + str(mpg_weight)
print("mpg_col_name: \'" + mpg_col_name + "\'")

mpg_col_name: 'mpg scaled * 7.0'

In [14]:
X_scaled = pd.read_csv("X_scaled.csv")
y = pd.read_csv("y.csv")

In [15]:
# adjust the 'mpg scaled' feature
mpg_scaled: DataFrame = X_scaled["mpg scaled"].to_frame(name=mpg_col_name)*mpg_weight
X_scaled_mpg_x_7_0: DataFrame = pd.concat([X_scaled.drop("mpg scaled", axis=1), mpg_scaled], axis=1)
display(X_scaled_mpg_x_7_0.head())

,year scaled,price scaled,mileage scaled,engineSize scaled,Automatic scaled,Manual scaled,Semi-Auto scaled,Diesel scaled,Electric scaled,Hybrid scaled,Petrol scaled,mpg scaled * 7.0
0,0.875000,0.211101,0.089747,0.2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.427072
1,0.916667,0.247798,0.051125,0.2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.427072
2,0.875000,0.229450,0.070113,0.2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.427072
3,0.958333,0.312018,0.058877,0.3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.754144
4,0.958333,0.293670,0.008337,0.2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.079006

In [16]:
X_scaled_mpg_x_7_0.to_csv("X_scaled_mpg_x_7.0.csv", index=False)